<!-- ZAWARTOŚĆ -->
<section class="formularz mb-1" id="formularz">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-6 bg-danger p-4 leftColumn">
                  <app-recipe></app-recipe>
              </div>
              <div class="col-md-6 rightColumn">
                  <app-recipe-list></app-recipe-list>    
              </div>
          </div>
      </div>   
</section>
<app-recipe-card></app-recipe-card>
<!-- STOPKA -->
<footer class="site-footer text-white text-center">
  <div class="container-fluid bg-danger footer">
      <div class="row">
          <div class="col p-3">
              <h6>Zródła zjdęć użytych na stronie</h6>
              <ul class="list-unstyled">
                  <li>https://unsplash.com/</li>
                  <li>https://pl.freepik.com/</li>
              </ul>
          </div>
      </div>
  </div>
</footer>